body{
	background: blue;
	color: white;

}
main{
	margin-top: 10px;
}
footer{
	border: 1px solid orange;
	font-weight: bold;/*negritas */
	text-align: center;
	padding: 20px;
}
header{
	border: 1px solid black;
	text-align: center;
}
header nav ul li
{
	background: orange;
	border: 1px solid black;
	border-radius: 5px;
	display: inline-block;
	/*margin-right: 15px--individual*/;
	margin: 0px 15px 0pc 0px;
	padding: 5px 10px;
	width: 100px;
}
header nav ul li:hover
{
	background: black;
	border: 1px solid orange;
	border-radius: 5px;
	display: inline-block;
	width: 100px;
}
main section article{
	border:  1px dashed magenta;
	width: 32.7%;
	display: inline-block;
	vertical-align: top;
}